{{#if isCombo}}
<div class="text-purple-400 dark:text-purple-400 theme-light:text-purple-600 font-semibold mb-1 text-xs">{{productsCount}} producto(s)</div>
{{#each products}}
<div class="text-xs my-0.5">• {{linkedName}} (x{{qty}})</div>
{{/each}}
{{else if hasItemId}}
<div class="text-green-400 dark:text-green-400 theme-light:text-green-600 text-xs">✓ {{{itemName}}}</div>
{{#if itemDetails}}
<div class="text-xs mt-0.5">{{{itemDetails}}}</div>
{{/if}}
{{else if isUnlinked}}
<span class="text-slate-400 dark:text-slate-400 theme-light:text-slate-600 text-xs">Sin vincular</span>
{{else}}
<span class="text-slate-400 dark:text-slate-400 theme-light:text-slate-600 text-xs">-</span>
{{/if}}
